<!-- The scope of this code is given as `datasource` argument to
     RaspimonDatasource() -->
<div ng-include="httpConfigPartialSrc"></div>
<br/>

<h5>Raspimon MongoDB Details</h5>
<div class="grafana-info-box" style="margin: 30px 0 0 0">
  It is possible to filter available topics using a comma-separated list of
  strings, so only topics which contain <b>any</b> of the strings would be
  selected.
</div>

<div class="tight-form">
  <ul class="tight-form-list">
    <li class="tight-form-item" style="width: 100px">
      Topic filters:
    </li>
    <li>
      <!-- We use jsonData here because it is a dictionary created by Grafana
           config controller -->
      <input type="text" class="tight-form-input input-xxlarge" ng-model="current.jsonData.topic_filters" placeholder="" ng-list></input>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>
