# This script executes at boot the monitoring system raspimon.
# Using Type=idle to force this script to be executed AFTER all other jobs.
[Unit]
Description=Starts raspimon at startup
Wants=network.target
After=network.target

[Service]
Type=idle
EnvironmentFile=-/etc/default/raspimon
PIDFile=/run/raspimon.pid
User=pi
Group=pi
PermissionsStartOnly=true
ExecStartPre=/usr/bin/sntp -t 6 -s 0.debian.pool.ntp.org
ExecStart=/home/pi/raspi-monitoring-system/start.sh ${STARTED_AT_BOOT} ${STARTUP_SLEEP}
ExecStop=/home/pi/raspi-monitoring-system/stop.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
