<div ng-controller="RaspimonPandasQueryCtrl" ng-init="init()">
  <div class="tight-form">
    <ul class="tight-form-list pull-right">
      <li class="tight-form-item small" ng-show="target.datasource">
	<em>{{target.datasource}}</em>
      </li>
      <li class="tight-form-item">
	<div class="dropdown">
	  <a class="pointer dropdown-toggle" data-toggle="dropdown" tabindex="1">
	    <i class="fa fa-bars"></i>
	  </a>
	  <ul class="dropdown-menu pull-right" role="menu">
	    <!--<li role="menuitem"><a tabindex="1" ng-click="toggleQueryMode()">Switch editor mode</a></li>-->
	    <li role="menuitem"><a tabindex="1" ng-click="duplicateDataQuery(target)">Duplicate</a></li>
	    <li role="menuitem"><a tabindex="1" ng-click="moveDataQuery($index, $index-1)">Move up</a></li>
	    <li role="menuitem"><a tabindex="1" ng-click="moveDataQuery($index, $index+1)">Move down</a></li>
	  </ul>
	</div>
      </li>
      <li class="tight-form-item last">
	<a class="pointer" tabindex="1" ng-click="removeDataQuery(target)">
	  <i class="fa fa-remove"></i>
	</a>
      </li>
    </ul>

    <ul class="tight-form-list">
      <li class="tight-form-item" style="min-width: 15px; text-align: center">
	{{target.refId}}
      </li>
      <li>
	<a  class="tight-form-item"
	    ng-click="target.hide = !target.hide; get_data();"
	    role="menuitem">
	  <i class="fa fa-eye"></i>
	</a>
      </li>
    </ul>

    <ul class="tight-form-list" role="menu">
      <li class="tight-form-item query-keyword" style="width: 75px">
	Topic
      </li>
      <li class="tight-form-item">
	<select ng-model="target.topic" class="tight-form-input input-xxlarge"
		ng-options="top for top in topics"
		ng-change="targetBlur()"
                required>
	</select>
        <!-- <a bs-tooltip="target.errors.aggregator" style="color: rgb(229, 189, 28)" ng-show="target.errors.aggregator"> -->
	<!--   <i class="fa fa-warning"></i> -->
	<!-- </a> -->
      </li>
      
      <li class="tight-form-item query-keyword">
	Alias
	<!-- <tip>Use patterns like $tag_tagname to replace part of the alias for a tag value</tip> -->
      </li>
      <li class="tight-form-item">
	<input type="text" class="tight-form-input input-large"
	       ng-model="target.alias"
	       spellcheck='false'
	       placeholder="series alias"
	       data-min-length=0 data-items=100
	       ng-blur="targetBlur()"></input>
      </li>

      <li class="tight-form-item query-keyword">
	ConsolidateBy
      </li>
      <li class="tight-form-item">
	<select class="tight-form-input input-mini"
                ng-model="target.consolidateby"
		ng-options="agg as agg for agg in aggregators"
		ng-change="targetBlur()"
                bs-tooltip="'By default it is last.'">
	</select>
	<!-- <a bs-tooltip="target.errors.aggregator" style="color: rgb(229, 189, 28)" ng-show="target.errors.aggregator"> -->
	<!--   <i class="fa fa-warning"></i> -->
	<!-- </a> -->
      </li>

      <li class="tight-form-item query-keyword">
	Mul
      </li>
      <li class="tight-form-item">
        <input type="number" class="tight-form-input input-mini"
	       ng-model="target.mul"
	       spellcheck='false'
	       data-min-length=0 data-items=100
	       ng-blur="targetBlur()"></input>
	<!-- <a bs-tooltip="target.errors.aggregator" style="color: rgb(229, 189, 28)" ng-show="target.errors.aggregator"> -->
	<!--   <i class="fa fa-warning"></i> -->
	<!-- </a> -->
      </li>

      <li class="tight-form-item query-keyword">
	Add
      </li>
      <li class="tight-form-item">
        <input type="number" class="tight-form-input input-mini"
	       ng-model="target.add"
	       spellcheck='false'
	       data-min-length=0 data-items=100
	       ng-blur="targetBlur()"></input>
	<!-- <a bs-tooltip="target.errors.aggregator" style="color: rgb(229, 189, 28)" ng-show="target.errors.aggregator"> -->
	<!--   <i class="fa fa-warning"></i> -->
	<!-- </a> -->
      </li>
    </ul>
    
  </div>
  
  <div class="tight-form">
    <ul class="tight-form-list">
      <li class="tight-form-item query-keyword tight-form-align" style="width: 75px;">
	Filters
      </li>
      <li ng-repeat="func in target.functions">
	<metric-segment segment="segment" ng-model="func.name" get-options="function_names"></metric-segment>
        (
        <input type="number" class="tight-form-input input-mini"
	       ng-model="func.arguments"
	       spellcheck='false'
	       ng-blur="targetBlur()"></input>
        )        
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
      
  <!--       <\!-- function controls -\-> -->
  <!--       <div class="tight-form-func-controls"> -->
  <!--         <a class="pointer" ng-click="moveFunction($index,$index-1)"><i class="fa fa-arrow-left"></i></a> -->
  <!--         <a class="pointer" ng-click="removeFunction($index)"><i class="fa fa-arrow-remove"></i></a> -->
  <!--         <a class="pointer" ng-click="moveFunction($index,$index+1)"><i class="fa fa-arrow-right"></i></a> -->
  <!--       </div> -->
  <!--     </li> -->
  <!--     <\!-- add button -\-> -->
  <!--     <li class="tight-form-item"> -->
  <!--       <a class="tight-form-item tight-form-func" ng-click="addFunction()"> -->
  <!--         <i class="fa fa-plus"></i> -->
  <!--       </a> -->
  <!--       <\!-- <a bs-tooltip="target.errors.aggregator" style="color: rgb(229, 189, 28)" ng-show="target.errors.aggregator"> -\-> -->
  <!--       <\!--   <i class="fa fa-warning"></i> -\-> -->
  <!--       <\!-- </a> -\-> -->
  <!--     </li> -->
  <!--   </ul> -->

  <!--   <div class="clearfix"></div> -->

  <!-- </div> -->

</div>
